%p#notice= notice

%p
  %b User:
  = @task.user
%p
  %b Completed:
  = @task.completed
%p
  %b Status:
  = @task.status
%p
  %b Title:
  = @task.title
%p
  %b Description:
  = @task.description

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
